
@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  src: url("Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url("Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  src: url("Roboto-Thin.ttf") format("ttf");
}

/* @font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url("sourcesanspro-regular.woff") format("woff");
} */