.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

.header__author {
  font-size: 25px;
  text-decoration: none;
  align-self: center;
  font-style: normal;
  color: inherit;
  font-weight: 500;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menuItem {
  margin-left: 15px;
  font-size: 20px;
  line-height: 22px;
}

.header__menuLink {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}